PORT=3000
BASE_URL=https://com519.sunil.sh/
MONGODB_CONNECTION_URL=mongodb+srv://app:password@com519-assessment.xxx.mongodb.net/app-dev
SALT=$2b$10$I.UGWyUHF50Ho.dbslWT3e
SENTRY_DSN=https://xx@xx.ingest.sentry.io/x
MAIL_HOST=smtp.gmail.com
MAIL_PORT=22
# true for 465, false for other ports
MAIL_SECURE=false
MAIL_USERNAME=user
MAIL_PASSWORD=pass
MAIL_FROM="admin@xx.com"