<script src="https://code.jquery.com/jquery-3.6.0.min.js" defer> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" defer></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" defer></script>

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/"> Records App </a>
      <div class="navbar">
        <div class="navbar-nav">
          <a class="nav-link active" href="/">
            Home <span class="sr-only">(current)</span>
          </a>

          <% if(user.name) { %>
            <div class="dropdown show">
              <a class="nav-link text-dark dropdown-toggle" href="/accounts" data-toggle="dropdown" >
                Accounts
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/accounts/">View Accounts</a>
                <a class="dropdown-item" href="/accounts/new">Create New Account</a>
                <a class="dropdown-item" href="/summary/accounts">View Account Summary</a>
              </div>
            </div>
             
           <div class="dropdown show">
            <a class="nav-link text-dark dropdown-toggle" href="/transactions" data-toggle="dropdown" >Transactions</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/transactions/">View Transactions</a>
              <a class="dropdown-item" href="/transactions/new">Create New Transaction</a>
              <a class="dropdown-item" href="/summary/transactions">View Transaction Summary</a>
            </div>
          </div>

           <a class="nav-link text-dark" href="/profile"> Profile</a>
           <a class="nav-link text-dark" href="https://umami.proxied.cloud/share/5GLuc1cG/RecordsApp"> Analytics</a>
           <a class="nav-link text-dark" href="/logout" > <%= user.email %> (Logout) </a> <%
          }%> <% if(!user.name) { %>
          <a class="nav-link text-dark" href="/login"> Login </a>
          <a class="nav-link text-dark" href="/register"> Register </a>
          <% } %>
        </div>
      </div>
    </nav>
    <script>
      if (
        window.location.host == "com519-production.herokuapp.com" && ["/", "/accounts", "/accounts/new", "/transactions", "/transactions/new", "/profile", "/login", "/register", "/summary/accounts", "/summary/transactions"].includes(window.location.pathname)
      ) {
        var script = document.createElement("script");
        script.async = true
        script.defer = true
        script.src = "https://umami.proxied.cloud/umami.js"
        script.setAttribute("data-website-id", "4cd34fcd-15dc-4973-bd8f-5da40e32fd4b" );
        document.head.appendChild(script);
      }
    </script>
  </header>