<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="data-driven full-stack web-application" />
    <title>Home</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%- include("common/header"); -%>

    <main>

      <div class="jumbotron">
        <div class="container text-center">
          <h1 class="display-3">Welcome <%- user.name%></h1>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2>New Account</h2>
            <p>You can create a new bank account <a href="/accounts/new">here</a>. </p>
          </div>
          <div class="col-md-4">
            <h2>New Transaction</h2>
            <p>You can create a new bank account <a href="/transactions/new">here</a>. </p>
          </div>
          <div class="col-md-4">
            <h2>New User</h2>
            <p>You can create a new user account <a href="/register">here</a>. </p>
          </div>
        </div>

        <hr>

      </div> 

    </main>

    <%- include("common/footer") -%>
  </body>
</html>
